table {
  width: 70%;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  
}

th, td {
  border: 2px solid white;
  
  padding: 10px;
  text-align: center;
}


.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: gray;
}

h1 {
  margin-left: 50px;
}

.taskName{
  font-size: 23px;
  font-weight: 600;
  color: #b1b7c2;
}



li {
  border: 2px solid rgb(41, 39, 39);
  border-radius: 20px;
  margin-right: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 800px; /* optional */
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
}



.app{
  display: flex;
  
}

.sidebar{
  width: 160px;
  min-height: 100vh;

  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: #1f2129;
  border-right: 1px solid #ccc;
}



button {
  padding: 10px;
  margin-left: 45px;
  
}

li input {
  width: 100%;
  padding: 20px;

  background-color: #16171d;
  color: white;

  border: 0.5px solid rgb(41, 39, 39);
  border-radius: 20px;

  outline: none;
  box-shadow: none;

  font-size: 20px;

  box-sizing: border-box;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid rgb(41, 39, 39);
}

